html {
  background: rgb(68, 66, 66);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.main h1 {
  font-size: 100px;
  margin-left: 200px;
}
#sec_min {
  font-size: 80px;
  margin: 20px 230px;
}

button {
  font-size: 20px;
  width: 200px;
  height: 60px;
  margin: 20px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

#start_timer {
  background: rgb(28, 202, 28);
}
#pause_timer {
  background: rgb(30, 100, 206);
}
#reset_timer {
  background: rgb(250, 11, 11);
}
